.body{
    font-size: 120%;
    padding: auto;
    margin: 10%;
    text-align: center;
    background-color: rgb(14, 107, 23);
}

.cabeçalho{
    background-color: rgb(63, 237, 43);
    margin: 10%;
    padding: 10px;
    text-align: center;
}

.informações{
    background-color: rgb(27, 198, 110);
    margin: 10px;
    padding: 10px;
    text-align: justify;
}

.imagens{
    width: 50%;
}






